[submodule "athaeck-base-hooks"]
	path = athaeck-base-hooks
	url = git@github.com:NickHaecker/athaeck-base-hooks.git
[submodule "Connecting-Minds-Data-Types"]
	path = Connecting-Minds-Data-Types
	url = https://github.com/NickHaecker/Connecting-Minds-Data-Types.git
